.modal-loader {
  display: flex;
  justify-content: center;
  padding: 16px 0px;
  margin-bottom: 2em;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100px;
}

.modal-html-text,
.modal-css-text {
  width: calc(100% - 36px);
  white-space: break-spaces;
}

.badge.badge-icon {
  padding: 6px 6px 8px;
  font-size: 1rem;
  right: 4%;
}

.color-picker-group {
  position: relative;
}

.color-picker-group__picker-container {
  position: absolute;
  background: white;
  top: 40px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 10;
}

.modal-section-container {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #d3d3d3;
  flex-direction: column;
  flex: 1;
  display: flex;
  gap: 10px;
}

.modal-section-container pre {
  position: relative;
}

.modal-content-container pre .badge {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.modal-heading-text-container {
  display: 'flex';
  flex-direction: 'row';
  align-items: 'center';
  justify-content: 'center';
}

.modal-html-text-header {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 5px;
}

.modal-content-container {
  padding-bottom: 1rem;
}
