.modal-loader {
  display: flex;
  justify-content: center;
  padding: 16px 0px;
  margin-bottom: 2em;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100px;
}

.modal-html-text {
  display: flex;
  width: 86%;
  flex-wrap: wrap;
}

.badge {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 60px
}

.badge-text{  
  margin: auto;
  position: relative;
}

.badge-text-html{
  font-size: 12px;
}

.badge-text-css{
  font-size: 14px;
}

.color-picker-group {
  position: relative;
}

.color-picker-group__picker-container {
  position: absolute;
  background: white;
  top: 40px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 10;
}
