.loaders-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 1em;
  grid-auto-rows: 140px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  align-items: center;
  padding-top: 22px;
  min-height: 480px;
}
.loaders-container > div {
  justify-self: center;
}
.loader-body:hover {
  cursor: pointer;
}
.source-text {
  visibility: hidden;
}
.loader-body:hover > .source-text {
  visibility: visible;
}

.modal-body {
  overflow: auto;
}

.modal-html-text {
  min-height: 100px;
}
.css-container {
  min-height: 300px;
  padding: 5px;
  height: 70%;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

.modal-body {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.badge {
  position: absolute;
  right: 8%;
  cursor: pointer;
}