.header {
  height: 60px;
  padding: 0 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
}

.header_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_container {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 120px;
}

.header_text {
  font-size: 18px;
  font-weight: 400;
}

.title {
  display: flex;
  flex-grow: 1;
}

.repo_link_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.repo_link_container span:nth-child(2) {
  position: relative;
  top: 4px;
}

@media all and (max-width: 600px) {
  .header {
    height: auto;
  }
  .header_container {
    flex-direction: column;
  }
}
